<%#
  メール用属性リスト
%>
<table style="
  width: 100%;
  font-size: 0.8em;
  ">
  <tr>
    <% items.each_with_index do |it, i| %>
        <td style="
          color:#a0a0a0;
          width: 8em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          "><%= it[:key] %>:</td>
        <td style="
          width: auto;
          margin-right: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          "><%= it[:value] %></td>
      </td>
      <% if i.even? %></tr><tr><% end %>
    <% end %>
  </tr>
</table>
